include configs/*.conf
include configs/composite_discord.conf
recursive-include presets/strategies *.tls
recursive-include presets/domains *.txt
include presets/voice/gcp-hamina.txt
include presets/blobs/README.md
recursive-include blobs *.bin
include blobs/README.md
recursive-include lua/blockchecks *.lua
include lua/README.md
include presets/README.md
include LICENSE
include README.md
include docs/todo.md
include docs/guide.md
include docs/package.md
include changelog.md
recursive-include src/blockchecks *.py
